.paragraph {
    background-color: pink;
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif'
}/* Add CSS Styling */

.paragraph.middle {
    font-size: 24px;
}

#sick1 {
    color: blue;
    font-size: 36px;
}

#sick2 {
    background-color: lightgreen;
    font-size: 24;
    font-weight: bold;
}