body {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
    padding: 20px;
    img {
        width: 400px;
        height: 200px;
    }
}

.header,
.footer,
.title {
    background-color: #1F2937;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin-top: 10px;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.title-text-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.title-text-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.body-one-title {
    font-size: 36px;
    padding: 20px;
}

.body-one-groups {
    display: flex;
    gap: 20px;
    max-width: 100px;
}

.body-one-group img {
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.body-two {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quoted {
    display: flex;
    justify-content: flex-end;
}

.quote-text {
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    width: 400px;
}

.body-three {
    .card {
        background-color: #3882F6;
        padding: 20px;
        border-radius: 10px;
    }
}